In [36]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from config import password

data_owid = "data/owid-covid-data.csv"

data_owid_df = pd.read_csv(data_owid)

In [37]:
#cleaning data/making tables
country = data_owid_df[["iso_code", "location", "continent", "population", "population_density", "gdp_per_capita", "extreme_poverty", "life_expectancy", "handwashing_facilities", "hospital_beds_per_thousand"]].drop_duplicates()
country.rename(columns= {"location": "country_name"}, inplace= True)
country.head()

,iso_code,country_name,continent,population,population_density,gdp_per_capita,extreme_poverty,life_expectancy,handwashing_facilities,hospital_beds_per_thousand
0,AFG,Afghanistan,Asia,3.983543e+07,54.422,1803.987,NaN,64.83,37.746,0.50
624,OWID_AFR,Africa,NaN,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN
1259,ALB,Albania,Europe,2.872934e+06,104.871,11803.431,1.1,78.57,NaN,2.89
1882,DZA,Algeria,Africa,4.461663e+07,17.348,13913.839,0.5,76.88,83.741,1.90
2505,AND,Andorra,Europe,7.735400e+04,163.755,NaN,NaN,83.73,NaN,NaN

In [50]:
country.info()
country.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237 entries, 0 to 131417
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   iso_code                    237 non-null    object
 1   country_name                237 non-null    object
 2   continent                   224 non-null    object
 3   population                  235 non-null    float64
 4   population_density          208 non-null    float64
 5   gdp_per_capita              195 non-null    float64
 6   extreme_poverty             126 non-null    float64
 7   life_expectancy             220 non-null    float64
 8   handwashing_facilities      96 non-null     float64
 9   hospital_beds_per_thousand  172 non-null    float64
dtypes: float64(7), object(3)
memory usage: 20.4+ KB

(237, 10)

In [39]:
policy = data_owid_df[["iso_code", "date", "stringency_index"]]
policy.head()

  iso_code        date  stringency_index
0      AFG  2020-02-24              8.33
1      AFG  2020-02-25              8.33
2      AFG  2020-02-26              8.33
3      AFG  2020-02-27              8.33
4      AFG  2020-02-28              8.33

In [40]:
cases = data_owid_df[["iso_code", "date", "total_cases_per_million", "new_cases_per_million", "new_cases_smoothed_per_million"]]
cases.head()

,iso_code,date,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million
0,AFG,2020-02-24,0.126,0.126,NaN
1,AFG,2020-02-25,0.126,0.000,NaN
2,AFG,2020-02-26,0.126,0.000,NaN
3,AFG,2020-02-27,0.126,0.000,NaN
4,AFG,2020-02-28,0.126,0.000,NaN

In [41]:
vaccines = data_owid_df[["iso_code", "date", "people_vaccinated_per_hundred", "people_fully_vaccinated_per_hundred", "total_boosters_per_hundred", "new_vaccinations_smoothed_per_million"]]
vaccines.head()

,iso_code,date,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million
0,AFG,2020-02-24,NaN,NaN,NaN,NaN
1,AFG,2020-02-25,NaN,NaN,NaN,NaN
2,AFG,2020-02-26,NaN,NaN,NaN,NaN
3,AFG,2020-02-27,NaN,NaN,NaN,NaN
4,AFG,2020-02-28,NaN,NaN,NaN,NaN

In [42]:
vaccines.loc[vaccines["iso_code"] == "USA"]

,iso_code,date,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million
124588,USA,2020-01-22,NaN,NaN,NaN,NaN
124589,USA,2020-01-23,NaN,NaN,NaN,NaN
124590,USA,2020-01-24,NaN,NaN,NaN,NaN
124591,USA,2020-01-25,NaN,NaN,NaN,NaN
124592,USA,2020-01-26,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
125240,USA,2021-11-04,66.45,57.19,7.05,3350.0
125241,USA,2021-11-05,66.54,57.24,7.30,3204.0
125242,USA,2021-11-06,66.58,57.25,7.36,3046.0
125243,USA,2021-11-07,66.59,57.25,7.36,2888.0
125244,USA,2021-11-08,66.59,57.25,7.36,2349.0

In [43]:
deaths = data_owid_df[["iso_code", "date", "total_deaths_per_million", "new_deaths_per_million", "new_deaths_smoothed_per_million", "excess_mortality_cumulative_per_million"]]
deaths.head()

,iso_code,date,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,excess_mortality_cumulative_per_million
0,AFG,2020-02-24,NaN,NaN,NaN,NaN
1,AFG,2020-02-25,NaN,NaN,NaN,NaN
2,AFG,2020-02-26,NaN,NaN,NaN,NaN
3,AFG,2020-02-27,NaN,NaN,NaN,NaN
4,AFG,2020-02-28,NaN,NaN,NaN,NaN

In [44]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/covid19_db')
conn = engine.connect()

In [45]:
base = automap_base()

In [46]:
base.prepare(engine, reflect=True)

In [47]:
base.classes.keys()

['country']

In [48]:
country.to_sql(name='country', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_country"
DETAIL:  Key (iso_code)=(AFG) already exists.

[SQL: INSERT INTO country (iso_code, country_name, continent, population, population_density, gdp_per_capita, extreme_poverty, life_expectancy, handwashing_facilities, hospital_beds_per_thousand) VALUES (%(iso_code)s, %(country_name)s, %(continent)s, %(population)s, %(population_density)s, %(gdp_per_capita)s, %(extreme_poverty)s, %(life_expectancy)s, %(handwashing_facilities)s, %(hospital_beds_per_thousand)s)]
[parameters: ({'iso_code': 'AFG', 'country_name': 'Afghanistan', 'continent': 'Asia', 'population': 39835428.0, 'population_density': 54.422, 'gdp_per_capita': 1803.987, 'extreme_poverty': None, 'life_expectancy': 64.83, 'handwashing_facilities': 37.746, 'hospital_beds_per_thousand': 0.5}, {'iso_code': 'OWID_AFR', 'country_name': 'Africa', 'continent': None, 'population': 1373486472.0, 'population_density': None, 'gdp_per_capita': None, 'extreme_poverty': None, 'life_expectancy': None, 'handwashing_facilities': None, 'hospital_beds_per_thousand': None}, {'iso_code': 'ALB', 'country_name': 'Albania', 'continent': 'Europe', 'population': 2872934.0, 'population_density': 104.871, 'gdp_per_capita': 11803.431, 'extreme_poverty': 1.1, 'life_expectancy': 78.57, 'handwashing_facilities': None, 'hospital_beds_per_thousand': 2.89}, {'iso_code': 'DZA', 'country_name': 'Algeria', 'continent': 'Africa', 'population': 44616626.0, 'population_density': 17.348, 'gdp_per_capita': 13913.839, 'extreme_poverty': 0.5, 'life_expectancy': 76.88, 'handwashing_facilities': 83.741, 'hospital_beds_per_thousand': 1.9}, {'iso_code': 'AND', 'country_name': 'Andorra', 'continent': 'Europe', 'population': 77354.0, 'population_density': 163.755, 'gdp_per_capita': None, 'extreme_poverty': None, 'life_expectancy': 83.73, 'handwashing_facilities': None, 'hospital_beds_per_thousand': None}, {'iso_code': 'AGO', 'country_name': 'Angola', 'continent': 'Africa', 'population': 33933611.0, 'population_density': 23.89, 'gdp_per_capita': 5819.495, 'extreme_poverty': None, 'life_expectancy': 61.15, 'handwashing_facilities': 26.664, 'hospital_beds_per_thousand': None}, {'iso_code': 'AIA', 'country_name': 'Anguilla', 'continent': 'North America', 'population': 15125.0, 'population_density': None, 'gdp_per_capita': None, 'extreme_poverty': None, 'life_expectancy': 81.88, 'handwashing_facilities': None, 'hospital_beds_per_thousand': None}, {'iso_code': 'ATG', 'country_name': 'Antigua and Barbuda', 'continent': 'North America', 'population': 98728.0, 'population_density': 231.845, 'gdp_per_capita': 21490.943, 'extreme_poverty': None, 'life_expectancy': 77.02, 'handwashing_facilities': None, 'hospital_beds_per_thousand': 3.8}  ... displaying 10 of 237 total bound parameter sets ...  {'iso_code': 'ZMB', 'country_name': 'Zambia', 'continent': 'Africa', 'population': 18920657.0, 'population_density': 22.995, 'gdp_per_capita': 3689.251, 'extreme_poverty': 57.5, 'life_expectancy': 63.89, 'handwashing_facilities': 13.938, 'hospital_beds_per_thousand': 2.0}, {'iso_code': 'ZWE', 'country_name': 'Zimbabwe', 'continent': 'Africa', 'population': 15092171.0, 'population_density': 42.729, 'gdp_per_capita': 1899.775, 'extreme_poverty': 21.4, 'life_expectancy': 61.49, 'handwashing_facilities': 36.791, 'hospital_beds_per_thousand': 1.7})]
(Background on this error at: http://sqlalche.me/e/14/gkpj)

In [ ]:
cases.to_sql(name='cases', con=engine, if_exists='append', index=False)

In [ ]:
deaths.to_sql(name='deaths', con=engine, if_exists='append', index=False)

In [ ]:
vaccines.to_sql(name='vaccines', con=engine, if_exists='append', index=False)

In [ ]:
policy.to_sql(name='policy', con=engine, if_exists='append', index=False)